fonts/PingFang.ttc filter=lfs diff=lfs merge=lfs -text
video/Nancyvideo.mp4 filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.ttc filter=lfs diff=lfs merge=lfs -text
video/Nancyvideo2.mp4 filter=lfs diff=lfs merge=lfs -text
